a {
  padding-right: 5px;
}

div {
  padding: 2px 2px;
}

label {
  padding-right: 5px;
}

span {
  padding-left: 5px;
}

button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
}

.overview {
  margin: 2px;
}

.form-button {
  margin-left: 5px;
}

.landing:hover {
  color: RoyalBlue;
}

.overview:hover {
  background-color: RoyalBlue;
}

.ttl {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inf {
  font-family: "Arial Narrow", serif;
  font-size: 16px;
}

.groupval {
  padding-bottom: 20px;
}

.swagger-ui-button {
  background-color: Red;
}

.swagger-ui-button:hover {
  background-color: Maroon;
}

.data-initializer-button {
  background-color: orange;
}

.data-initializer-button:hover {
  background-color: darkorange;
}

.eureka-dashboard-button {
  background-color: Green;
}

.eureka-dashboard-button:hover {
  background-color: DarkGreen;
}

.login-page {
  width: 500px;
  clear: both;
}

.login-page input {
  width: 100%;
  clear: both;
}